.layout__header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.layout__header li a {
    display: block;
    float: left;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}


.layout__body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    /*grid-template-columns: 1fr 1fr 1fr; 建立一個3列的網格 */
    /*grid-column-gap: 1px;               建立區隔網格的線    */
    /*background-color: black;                           */
}

.left {
    background-color: #99CCCC;
}

.middles {
    background-color: #FFCC99;
}

.right {
    background-color: #FFCCCC;
}