.layout__header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.layout__header li a {
    display: block;
    float: left;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.layout__header li {
    float: left;
    max-width: 33.3%;
}

.navbar a:hover {
    background-color: #FFCCCC;
}

.left {
    background-color: #99CCCC;
}

.middles {
    background-color: #FFCC99;
}

.right {
    background-color: #FFCCCC;
}